# === Classes ===
public net.minecraft.resources.RegistryDataLoader$Loader
public net.minecraft.resources.RegistryDataLoader$LoadingFunction
public net.minecraft.world.level.block.entity.BlockEntityType$BlockEntitySupplier
public net.minecraft.server.level.ChunkMap$TrackedEntity
public net.minecraft.resources.FileToIdConverter prefix